div{
    border : 1px dotted blue; 
}

.grid-container{          
    display : grid;           
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 300px 100px;
    gap : 10px 10px;
    align-items: stretch;
    justify-items: stretch;

    justify-content: center;
    align-content: center;
  
}
.item1{
    background-color:tan;
}   

/* Commence ici */
.item2{
    background-color: red;
    align-self: start;
    justify-self: center;
}
.item3{
    background-color:yellow;
}
.item4{
    background-color:lime;
}
.item5{
    background-color:purple;
}
.item6{
    background-color:orange;
}
.item7{
    background-color:cyan;
}
.item8{
    background-color:plum;
}
.item9{
    background-color:peru;
}