body{
    margin: 0;
    padding: 0;
}

main{
    background-color: paleturquoise;
    height: 1000px;
    width:960px;
    display: flex;
    flex-direction: column;
}

header{
    background-color: orange;
    height: 50px;
}

.container{
    display: flex;
    
}

.left{
    background-color: gray;
    height: 500px;
    width: 400px;
}

.right{
    background-color: yellow;
    height: 500px;
    width: 600px;
}

footer{
    background-color: green;
    height: 50px;
    width: ;

}