* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: aliceblue;
  padding: 20px;
}
main {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
}
header {
  background-color: red;
  height: 90px;
  grid-row: 1/2;
  grid-column: 1/5;
}
.sidebar {
  background-color: red;
  grid-row: 2/7;
  grid-column: 1/2;
}
.box1,
.box2,
.box3 {
  background-color: red;
  grid-row: 2/4;
}
.box1 {
  grid-column: 2/3;
}
.box2 {
  grid-column: 3/4;
}
.box3 {
  grid-column: 4/5;
}
.maincontent {
  background-color: red;
  grid-row: 4/7;
  grid-column: 2/5;
}
footer {
  background-color: red;
  grid-row: 7/8;
  grid-column: 1/5;
}
