


body{
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    width: 1000px;
    margin: auto;
}

main{
    background-color: #ff8500;
    font-family: "Roboto", sans-serif;
    margin: auto;
    padding: 50px;
}

h1{  
    color: white;
    font-size: 64px;
    line-height: 30px;
    padding: 80 px 0 23px 84px;
}

p{
    color: white;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    padding: 0 87px 46px 84px;
}

h2{
    color: black;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    padding-bottom: 22px;
    padding-left: 84px;
}

em{
    display: inline-block;
    border-top: solid 1px black;
    color: black;
    font-size: 16px;
    line-height: 30px;
    margin: 0 114px 35px 280px;
    padding-bottom: 16px;
    border-bottom: solid 1px black;
}

ul{
    padding-left: 98px;
    font-size: 20px;
    font-weight: normal;
    line-height: 36px;
    padding-bottom: 138px;

}