*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    max-width: 1440px;
    font-family: "Roboto",sans-serif;
    margin: auto;
    nav{
        background-color: #ecefd8;
        height: 60px;
        width: 100%;
        padding-top: 1.5%;
        text-transform: uppercase;
        text-decoration: none;

        ul{
            display: flex;
            align-content: center;
            list-style-type: none;
            justify-content: space-evenly;
            li{
                font-weight: 300px;
                font-size: 1rem;
                letter-spacing: 0.2%;
                a{
                    text-decoration: none;
                    color: #393939;
                }
            }
        }
    }
    header{
        background-image: url(./imgs/header-bg\ 1.png);
        background-repeat: no-repeat;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .logoheader{
            height: 130px;
            width: 460px;
            align-self: center;
        }
        h1{
            font-weight: 400;
            font-size: 24px;
            color: white;
            letter-spacing: 4px;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            align-self: center;
            direction: rtl;
            text-indent: -2px;
            margin-top: 2%;
        }
    }
    .intro{
        background-color: #ecefd8;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        height: 440px;
        justify-content: center;
        h2{
            text-transform: uppercase;
            padding-top: 3%;
        }
        p{
            font-size: 20px;
            line-height: 35.28px;
            letter-spacing: 0.5%;
            text-align: center;
            padding: 0 25%;     
        }
        button{
            background-color: #849561;
            width: 25%;
            height: 65px;
            color: #eed690;
            font-size: 16px;
            line-height: 28.22px;
            letter-spacing: 0.5%;
            box-shadow: 0px 4px 4px rgba(19, 18, 18, 25%);
            border: none;
        }
    }
    .tableau{
        background-color: #393939;
        display: flex;
        flex-direction: column;
        text-align: center;
        h2{
            text-transform: uppercase;
            padding-top: 26px;
            color: #849561;
            font-size: 22px;
            line-height: 26.11px;
        }
        .container{
            display: flex;
            flex-wrap: wrap;
            gap: 5%;
            padding: 6%;
            align-items: center;
            justify-content: center;
            div{
                background-color: #849561;
                width: 252px;
                height: 382px;
                color: white;
                position: relative;
                h3{
                    padding: 5% 20%;
                }
                p{
                    padding: 5% 10%;
                }
                button{
                    background-color: #393939;
                    color: white;
                    border: 1px solid #849561;
                    height: 42px;
                    width: 142px;
                    position: absolute;
                    left: 50%;
                    bottom: -1.5em;
                    transform: translate(-50%);
                }
            }
        }
    }
    .nympheas{
        background-image: url(./imgs/modern-industrial\ 1.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 5%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        gap: 30px;
        text-align: center;
        img{
            border: 1px solid white;
            padding: 1%;
        }
        h2{
            font-size: 22px;
        }
        p{
            padding: 0 15%;
        }
    }
    .fondateur{
        background-color: #393939;
        min-width: 560px;
        display: flex;
        flex-direction: column;
        h2{
            color: #849561;
            font-weight: 700;
            font-size: 22px;
            letter-spacing: 2%;
            padding: 1%;
            padding-bottom: 1%;
            text-align: center;
            max-width: 100%;
        }
        .container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 10%;
            max-width: 100%;
            position: relative;
            color: white;
            margin-top: 5%;
        }
        .photo{
            border-radius: 50%;
            margin-top: -50px;
            z-index: 2;
        }
        .men{
            display: block;
            height: 350px;
            background-color: #849561;
            padding: 0 1%%;
            h3{
                font-weight: 700;
                font-size: 20px;
                text-align: left;
                border-top: 1px solid white;
                padding: 0 4%;
            }
            p{
                font-weight: 300;
                font-size: 14px;
                line-height: 16px;
                width: 420px;
                text-align: justify;
                margin-top: 3%;
                margin-bottom: 3%;
                padding: 0 4%;
            }
        } 
        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3%;
            justify-content: start;
            padding-left: 15px;
            padding: 0 4%;
            .logo1{
                width: 25px;
                height: 25px;
                background-color: #393939;
                background-image: url(./imgs/Google+.png);
                background-position: center;
                background-repeat: no-repeat;
                border: 48px 49px;
            }
            .logo2{
                width: 25px;
                height: 25px;
                background-color: #393939;
                background-image: url(./imgs/Twitter.png);
                background-position: center;
                background-repeat: no-repeat;
                border: 48px 49px;
            }
            .logo3{
                width: 25px;
                height: 25px;
                background-color: #393939;
                background-image: url(./imgs/Facebook.png);
                background-position: center;
                background-repeat: no-repeat;
                border: 48px 49px;
            }
        }
        .woman{
            height: 350px;
            background-color: #849561;
            color: white;
            position: relative;
            z-index: 1;
            padding: 0 1%;
            h3{
                font-weight: 700;
                font-size: 20px;
                color: white;
                text-align: left;
                border-top: 1px solid white;
                padding: 0 5%;
            }
            p{
                font-weight: 300;
                font-size: 14px;
                line-height: 16px;
                width: 420px;
                text-align: justify;
                margin-top: 3%;
                margin-bottom: 3%;
                padding: 0 4%;
            }
        }   
    }   
}   

@media screen and (max-width:768px){

        body{
            max-width: 768px;
            height: auto;
        }

        .carre1{
            margin-bottom: 5%;
        }
        .carre2{
            margin-bottom: 5%;
        }
    .nympheas{
        color: white;
        background-image: none;
        background-color: #1D1B1BFC;
        color: white;
        padding-top: 100px;
    }

    .men{
        margin-top: 5%;
        margin-bottom: 10%;
    }

}