*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1440px;
    padding-left: 238px;
    font-family: "Roboto",sans-serif;
    nav{
        background-color: #ecefd8;
        height: 60px;
        display: flex;
        justify-content: center;
        width: 1440px;
        padding-top: 1.5%;
        ul{
            display: flex;
            align-content: center;
            gap: 116px;
            list-style-type: none;
            li{
                font-weight: 300px;
                font-size: 1rem;
                letter-spacing: 0.2%;
                text-transform: uppercase;
                a{
                    text-decoration: none;
                    color: #393939;
                }
            }
        }
    }
    header{
        background-image: url(./imgs/header-bg\ 1.png);
        height: 400px;
        width: 1440px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .logoheader{
            height: 130px;
            width: 460px;
            align-self: center;
        }
        h1{
            font-weight: 400;
            font-size: 1.5rem;
            color: white;
            letter-spacing: 2px;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            align-self: center;
            direction: rtl;
            text-indent: -2px;
            margin-top: 2%;
        }
    }
    .intro{
        background-color: #ecefd8;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 4rem;
        width: 1440px;
        height: 440px;
        h2{
            text-transform: uppercase;
            padding-top: 3%;
        }
        p{
            font-size: 20px;
            line-height: 35.28px;
            letter-spacing: 0.5%;
            text-align: center;
            padding: 0 25%;     
        }
        button{
            background-color: #849561;
            width: 211px;
            height: 65px;
            color: #eed690;
            font-size: 16px;
            line-height: 28.22px;
            letter-spacing: 0.5%;
            box-shadow: 0px 4px 4px rgba(19, 18, 18, 25%);
            border: none;
        }
    }
    .tableau{
        background-color: #393939;
        display: flex;
        flex-direction: column;
        width: 1440px;
        text-align: center;
        h2{
            text-transform: uppercase;
            padding-top: 26px;
            color: #849561;
            font-size: 22px;
            line-height: 26.11px;
        }
        .container{
            display: flex;
            gap: 8%;
            padding: 5%;
            div{
                background-color: #849561;
                width: 252px;
                height: 382px;
                color: white;
                position: relative;
                h3{
                    padding: 5% 20%;
                }
                p{
                    padding: 5% 10%;
                }
                button{
                    background-color: #393939;
                    color: white;
                    border: 1px solid #849561;
                    height: 42px;
                    width: 142px;
                    // position: relative;
                    position: absolute;
                    left: 50%;
                    bottom: -1.5em;
                    transform: translate(-50%);
                }
            }
        }
    }
    .nympheas{
        background-image: url(./imgs/modern-industrial\ 1.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 5%;
        width: 1440px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        gap: 30px;
        text-align: center;
        img{
            border: 1px solid white;
            padding: 1%;
        }
        h2{
            font-size: 22px;
        }
        p{
            padding: 0 15%;
        }
    }
    .fondateur{
        background-color: #393939;
        display: flex;
        flex-direction: column;
        width: 1440px;
        padding: 3%;
        align-items: center;
        h2{
            color: #849561;
            text-transform: uppercase;
        }
        .container{
            display: flex;
            justify-content: center;
            color: white;
            .men{
                background-color: #849561;
                
                img{
                    border-radius: 100%;
                }
                .logo{
                    display: flex;
                    background-color: #393939;
                    gap: 2%;
                }
            }
        }
    }    
}


