* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1440px;
  padding-left: 238px;
  font-family: "Roboto", sans-serif;
}
body nav {
  background-color: #ECEFD8;
  height: 60px;
  display: flex;
  justify-content: center;
  width: 1440px;
}
body nav ul {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 116px;
  list-style-type: none;
}
body nav ul li {
  color: #393939;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 2px;
}
body nav a {
  text-decoration: none;
}
body header {
  background-image: url(imgs/header-bg\ 1.png);
  height: 400px;
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body header .imglogoheader {
  width: 460px;
  height: 130px;
  align-self: center;
}
body header h1 {
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  letter-spacing: 2px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  align-self: center;
  direction: rtl;
  text-indent: -2px;
  margin-top: 2%;
}
body .sectionintro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #ECEFD8;
  width: 1440px;
  text-align: center;
}
