#carre {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    position: relative;
    display: none;
}

#cercle {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    display: none;
}
