#container{
    background-color: cadetblue;
    height: 500px;
    width: 500px;
    border: 2px solid sienna;
    margin: 10% auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#flex-item1{
    background-color: red;
    width: 100px;
    height: 100px;
}

#flex-item2{
    background-color: green;
    width: 100px;
    height: 100px;
}

#flex-item3{
    background-color: pink;
    width: 100px;
    height: 100px;
}

#flex-item4{
    background-color: blue;
    width: 100px;
    height: 100px;
}